@import url('bootstrap.min.css');

.verticaltext {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.no-scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;

}

.no-scroll::-webkit-scrollbar {
    display: none;
}